.height-grow {
  &-enter,
  &-leave {
    &-active {
      display: grid;
      transition: grid-template-rows 0.2s linear;

      & > * {
        overflow: hidden;
      }
    }
  }

  &-leave {
    &-from {
      grid-template-rows: 1fr;
    }

    &-to {
      grid-template-rows: 0fr;
    }
  }

  &-enter {
    &-from {
      grid-template-rows: 0fr;
    }

    &-to {
      grid-template-rows: 1fr;
    }
  }
}
