.height-grow {
  &-enter,
  &-leave {
    &-active {
      display: grid;
      transition: grid-template-rows 0.2s linear;

      & > * {
        overflow: hidden;
      }
    }
  }

  &-leave {
    &-from {
      grid-template-rows: 1fr;
    }

    &-to {
      grid-template-rows: 0fr;
    }
  }

  &-enter {
    &-from {
      grid-template-rows: 0fr;
    }

    &-to {
      grid-template-rows: 1fr;
    }
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
