// Jost

// Regular (400)
@include font-face('Jost', 400, normal, 'Jost-Regular');

// Medium (500)
@include font-face('Jost', 500, normal, 'Jost-Medium');

// Semibold (600)
@include font-face('Jost', 600, normal, 'Jost-Semibold');

// Bold (700)
@include font-face('Jost', 700, normal, 'Jost-Bold');

// ExtraBold (800)
@include font-face('Jost', 800, normal, 'Jost-ExtraBold');
