* {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  padding: 0;
  margin: 0;
}

html {
  font-family: $font-family-primary;
  font-size: 100%;

  scroll-behavior: smooth;
}

body {
  font-weight: $fw-regular;
  line-height: 1.2;

  text-rendering: optimizeLegibility;

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-weight: $fw-regular;
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: 0;

  color: inherit;
}

a {
  cursor: pointer;
  text-decoration: none;

  color: $txt-col-primary;
}

button {
  font-family: inherit;

  background: none;
  border: none;

  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
  vertical-align: top;
  user-select: none;
}

ul,
ol,
li {
  list-style: none;
}

input {
  border: none;
  outline: none;

  &::placeholder {
    font-family: inherit;
  }
}

textarea {
  resize: none !important;

  &::placeholder {
    font-family: inherit;
  }
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

svg {
  $default-size: $icon-size-medium;

  display: block;
  flex-shrink: 0;

  fill: currentColor;

  width: rem($default-size);
  height: rem($default-size);
}
